@font-face {
  font-family: "Work Sans";
  src: url(./fonts/WorkSans-VariableFont_wght.ttf);
}

html,
body {
  font-family: "Work Sans";
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Header */
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
  
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
}

.social-icons {
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.social-icons .fa {
  font-size: 24px;
}
.fa-facebook {
  color: #175beb;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-instagram {
  color: #ef00a2;
}

.logo {
  font-size: 60px;
  font-weight: 700;
}

.dot {
  color: #ef00a2;
  font-size: 60px;
}

.fa-search {
  font-size: 20px;
  color: white;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fd4769;
  box-shadow: 2px 2px 10px grey;
}


/* Navigation menu */

.fa-chevron-down{
  font-size: small;
  font-weight: 100;
  margin-left: 3px;
}

.main-menu ul{
  display: flex;
  flex-direction: row;
  list-style: none;
}

.main-menu ul li{
  margin-right: 25px;
}

.main-menu{
  margin-bottom: 30px;
}


/* posts */

section{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 100px;
}

.post{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  margin-right: 20px;
  width: 350px;
  height: 600px;
}

.post-img{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(./image1.jpg);
  width: 100%;
  height: 400px;
  background-size: cover;
  box-shadow: 0 4px 10px gray;
  padding: 20px;
}

.post-img p{
  z-index: 3;
  color: black;
  background-color: white;
  font-size: large;
  line-height: 1.5;
  padding: 5px;
  font-weight: 600;
}

.post-header{
  background-color: #7169fd;
 height: 40px;
 display: flex;
 justify-content: space-around;
  width: 50%;
  align-items: center;
  border-radius: 20px;
  margin-left: auto;
  padding: 0;
  color: white;
  font-size: small;
}

.post-header ul{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
}



.post-header i{
  margin-right: 4px;
}

/* post footer */

.footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.footer-first{
  width: 100%;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;

}

.footer-first div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-first img{
  border-radius: 50%;
  margin-right: 7px;
  box-shadow: 0 2px 5px grey;
}

.footer-first span{
  color: #ef00a2;
  font-size: 40px;
}

.footer-p p{
 text-align: center;
 line-height: 1.4;
 opacity: 0.7;
}
.tag{
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.fa-tags{
  color: #ff8da2;
  margin-right: 5px;
}